<h1>Creer un Livre</h1>
<div>
  <%= form_for @book, html: { multipart: true } do |f| %>

    <div class="mb-3">
      <%= f.label :titre, class: "form-label" %>
      <%= f.text_field :titre, class: "form-control", placeholder: "Titre" %>
    </div>

    <div class="mb-3">
      <%= f.label :auteur, class: "form-label" %>
      <%= f.text_field :auteur, class: "form-control", placeholder: "Auteur" %>
    </div>

    <div class="mb-3">
      <%= f.label :genre, class: "form-label" %>
      <%= f.text_field :genre, class: "form-control", placeholder: "Genre" %>
    </div>

    <div class="mb-3">
      <%= f.label :annee_publication, class: "form-label" %>
      <%= f.number_field :annee_publication, class: "form-control", placeholder: "Année de publication" %>
    </div>

    <div class="mb-3">
      <%= f.label :exemplaires_disponibles, class: "form-label" %>
      <%= f.number_field :exemplaires_disponibles, class: "form-control", placeholder: "Exemplaires disponibles" %>
    </div>

    <div class="mb-3">
      <%= f.label :isbn, class: "form-label" %>
      <%= f.text_field :isbn, class: "form-control", placeholder: "ISBN" %>
    </div>

    <div class="mb-3">
      <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control", id: "image" %>
    </div>

    <div class="mb-3">
      <%= f.label :image_cache, class: "form-label" %>
      <%= f.hidden_field :image_cache %>
    </div>

    <div class="mb-3">
      <%= f.label :remove_image, class: "form-label" %>
      <%= f.check_box :remove_image, class: "form-check-input" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Créer le livre", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
