<!DOCTYPE html>
<html>

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>


                          <title>KeefaniBooks</title>
  </head>

  <body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
        <a class="navbar-brand" href="#">KeefaniBooks</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">

              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="#">Emprunts</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="#">Retours</a>
            </li>
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Books
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>

                  <a class="dropdown-item" href="#">Romans</a></li>

                  <a class="dropdown-item" href="#">Essais</a></li>

                  <a class="dropdown-item" href="#">Livres</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>

                  <a class="dropdown-item" href="#">Recits</a></li>
                <li>
                  <a class="dropdown-item" href="#">Journaux</a></li>
              </ul>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="#">Historiques</a>
            </li>
            <li class="nav-item">

              <button type="button" class="btn btn-primary position-relative">
  Profile
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
  </span>
</button>
            </li>
          </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

        <div class="container">
          <%= yield %>
        </div>

    <% if flash[:success].present? %>
      <div class="alert alert-success alert-dismissible fade show">
        <%= flash[:success] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
      </div>
    <% end %>

    <% if flash[:error].present? %>
      <div class="alert alert-danger alert-dismissible fade show">
        <%= flash[:error] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
      </div>
    <% end %>



    <footer class="page-footer shadow ">
      <div class="blockcode navbar-dark bg-success">
        <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
          <div class="d-flex flex-wrap justify-content-between">
            <div>
              <a href="#" class="d-flex align-items-center p-0 text-light">
                <img alt="logo" src="{{url('images/keefaniBooks.png')}}" width="30px" />
                <span class="ms-3 h5 font-weight-bold">KeefaniBooks</span>
              </a>
              <p class="my-3 text-light" style="width: 250px">
                Faconnez votre maniere de lire sans manquer les secrets de la reussite.
              </p>
              <span class="mt-4">
                <button class="btn btn-light btn-flat p-2">
                  <i class="fa fa-facebook">facebook</i>
                </button>
                <button class="btn btn-light btn-flat p-2">
                  <i class="fa fa-twitter">twitter</i>
                </button>
                <button class="btn btn-light btn-flat p-2">
                  <i class="fa fa-instagram">instagram</i>
                </button>
              </span>
            </div>
            <div>
              <p class="h5 mb-4 text-light" style="font-weight: 600">Nos Rubriques</p>
              <ul class="p-0" style="list-style: none; cursor: pointer">
                <li class="my-2">
                  <a class="text-light" href="#">Mes livres</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">A propos</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">Contact</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">Emprunts</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">Retours</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">Conseils</a>
                </li>
              </ul>
            </div>
            <div>
              <p class="h5 mb-4 text-light" style="font-weight: 600">Besoin d'aide?</p>
              <ul class="p-0" style="list-style: none; cursor: pointer">
                <li class="my-2">
                  <a class="text-light" href="#">Administration</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">Sign Up</a>
                </li>
                <li class="my-2">
                  <a class="text-light" href="#">Sign In</a>
                </li>
              </ul>
            </div>

          </div>
          <small class="text-center mt-5 text-light">&copy; KeefaniBooks, 2023. All rights reserved.</small>
        </div>
      </div>
    </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    // Fonction pour récupérer les données du formulaire
    function getFormData() {
      var formData = new FormData();

      for (var i = 0; i < document.forms[0].elements.length; i++) {
        var element = document.forms[0].elements[i];

        // Vérifier si le champ est requis
        if (element.required) {
          if (element.value === "") {
            alert("Le champ " + element.name + " est requis.");
            return false;
          }
        }

        // Ajouter la valeur du champ au formulaire
        formData.append(element.name, element.value);
      }

      return formData;
    }

    // Fonction pour envoyer les données à la base de données
    function sendData() {
  var formData = new FormData(document.forms[0]);

  // Créer une requête HTTP POST
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/books", true);

  // Envoyer les données à la base de données
  xhr.send(formData);

  // Gérer la réponse de la base de données
  xhr.onload = function() {
    if (xhr.status === 200) {
      // Le livre a été ajouté avec succès
      alert("Le livre a été ajouté avec succès.");
    } else {
      // Une erreur s'est produite
      alert("Une erreur s'est produite lors de l'ajout du livre.");
    }
  };
}

</script>
  </body>

</html>
